{
  "presets": [
    "es2015",
    "es2017",
    "react",
    "stage-0",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 3 versions", "not IE < 10"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy"
  ]
}